.banner-section{
    background: #0E1117;
    min-height: 100vh;
    overflow-x: hidden;
    .overlay{
        background: url(../images/bg/banner1-bg.png);
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .overlay2{
        background: rgba(14, 17, 23, 0.8);
        min-height: 100vh;
        padding-top: 223px;
        padding-bottom:7%;
    }
}

.banner-left {
    padding-top: 50px;
    h1 {
        font-weight: 700;
        font-size: 60px;
        line-height: 133%;
        color: #FFFFFF;
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 39px;
        font-weight: 500;
        font-size: 18px;
        line-height: 200%;
        color: #FFFFFF;
    }
    button {
        font-weight: 700;
        font-size: 15px;
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
        height: 60px;
        width: 220px;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(7.5px);
        border-radius: 30px;
        margin-bottom: 41px;
        span {
            margin-right: 9.5px;
        }
    }
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
            font-weight: 500;
            font-size: 18px;
            line-height: 222%;
            color: rgba(255, 255, 255, 0.8);

            span {
                color: color(whiteColor);
                margin-left: 10px;
            }
        }
    }
}

.banner-card{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    position: relative;
    .card-content{
        position: relative;
        z-index: 1;
        padding: 21px 40px 40px 40px;
        &::after{
            content: url(../images/shape/shape1.png);
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -1;
        }
        &::before{
            content: url(../images/shape/shape2.png);
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: -1;
        }
    }
    button{
        background: #1EE8B7;
        border-radius: 30px;
        width: 100%;
        height: 60px;
        font-weight: 700;
        font-size: 15px;
        line-height: 173%;
        text-transform: uppercase;
        color: #0E1117;
    }
}
.banner1-timer{
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0px;
        margin: 0px;
        max-width: 421px;
        width: 100%;
        li{
            font-weight: 700;
            font-size: 40px;
            line-height: 150%;
            color: #FFFFFF;
            span{
                font-size: 24px;
                line-height: 60px;
            }
        }
    }
}

.card-progress-section{
    margin-top: 42px;
    padding-bottom: 10px;
    h5{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        span{
            margin-bottom: 13px;
        }
    }
}
.card-content{
    p{
        margin-left: 39px;
    }
}
.card-progress-bar{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 16px;
}
.card-progress-inner{
    background: #1EE8B7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #111111;
    width: 23%;
    padding: 2px 5px;
}

.card-info{
    margin-bottom: 35px;
    ul{
        list-style: none;
        padding: 0px;
        margin: 0px;        
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #FFFFFF;
            padding: 10px 0px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
}



.card-content2 {
    display: none;
    z-index: 1;
    position: relative;
    padding: 21px 40px 40px 40px;
    &::after{
        content: url(../images/shape/shape1.png);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
    &::before{
        content: url(../images/shape/shape2.png);
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: -1;
    }
    button{
        margin-top: 10px;
    }
    h6{
        margin-bottom: 26px;
    }
    .back-btn{
        margin-left: 40px;
        cursor: pointer;
    }
    form{
        margin-top: 30px;
    }
}

.input-section{
    label{
        font-weight: 500;
        font-size: 15px;
        line-height: 200%;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 6px;
        font-family: fontfamily(outfit);
    }
    input{
        background: rgba(255, 255, 255, 0.05);
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 20px 16px;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        color: #FFFFFF;
        font-family: fontfamily(inter);
        max-width: 100%;
        width: 100%;
        overflow: hidden;
        margin-bottom: 24px;
    }
}


.card-shape{
    position: absolute;
    top: -64px;
    left: -64px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(98, 54, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 11;
    .card-shape-inner{
        position: relative;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        .live-arrow{
            position: absolute;
            transform: rotate(-135deg);
        }
    }
}

.banner-footer{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px); 
    display: flex;
    align-items: center; 
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 26px;
        li{
            margin-right: 120px;
            min-width: 120px;;
        }
    } 
}