.banner1-section {
    background: #0B0C12;
    position: relative;

    .overlay {
        background: url(../images/bg/grain-texture.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 100vh;
        position: relative;
        z-index: 11;
        padding-top: 8%;
    }

    .top-shape {
        width: 100%;
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: center;
        z-index: 3;
    }
}

.bottom-shape {
    width: 100%;
    bottom: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    z-index: 1;

    &2 {
        width: 100%;
        bottom: 0px;
        left: 0px;
        position: absolute;
        text-align: center;
        z-index: 2;
    }
}

.banner1-content {
    h5 {
        font-weight: 600;
        font-size: 18px;
        line-height: 167%;
        text-align: center;
        color: #FFFFFF;
    }

    h1 {
        max-width: 978px;
        margin: auto;
        margin-bottom: 23px;
    }

    .price-text {
        text-align: center;
        margin-bottom: 31px;
    }

    .banner1-btn {
        max-width: 270px;
        width: 100%;
        height: 60px;
        background: linear-gradient(90deg, #E05FBB 0%, #4250F4 100%);
        border-radius: 50px;
        position: relative;
        z-index: 4;
    }
}

.banner1-timer {
    max-width: 500px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            font-weight: 900;
            font-size: 40px;
            line-height: 125%;
            text-align: center;
            color: #FFFFFF;
            position: relative;

            span {
                font-size: 18px;
            }

            &::after {
                content: ':';
                position: absolute;
                right: -35px;
                bottom: 8px;
                color: rgba(255, 255, 255, 0.40);
                background: rgba(255, 255, 255, 0.40);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(255, 255, 255, 0.40);
            }

            &:nth-last-child(1) {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.progress-section {
    max-width: 770px;
    width: 100%;
    margin: auto;
    margin-bottom: 1.5%;
    margin-top: 2%;

    .progress-top-text {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            margin-bottom: 11px;
            font-weight: 600;
            font-size: 15px;
            line-height: 30px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }

    .progress-bar-container {
        background: rgba(255, 255, 255, 0.05);
        border: 1px dashed rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        padding: 8px;

        .progress-bar-inner {
            background: #4250F4;
            border-radius: 12px;
            padding: 4px 6px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 23%;

            span {
                font-weight: 700;
                font-size: 12px;
                line-height: 125%;
                text-align: right;
                color: #FFFFFF;
            }
        }
    }
}

.banner1-social {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 2%;
    z-index: 3;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        list-style: none;
        max-width: 520px;
        margin: auto;

        li {
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(10px);
            border-radius: 25px;
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.input-section {
    .input-dwopdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.05);
        padding: 0;
        height: 60px;
        margin-bottom: 30px;

        input {
            border: none;
            outline: none;
            width: 65%;
            background: transparent;
            margin-bottom: 0;
        }

        .token-dropdown {
            width: 160px;
            border: none;
            outline: none;
            position: relative;
            border-left: 2px solid rgba(255, 255, 255, 0.10);
            border-radius: 0px 10px 10px 0px;
        }
    }
}


@media only screen and (max-width: 1199px) {

    .banner1-content {
        h1 {
            font-size: 55px;
            max-width: 660px;
            margin: auto;
            margin-bottom: 23px;
        }
    }

    .banner1-timer {
        max-width: 400px;

        ul {
            li {
                font-size: 30px;
            }
        }
    }

    .banner1-section {
        .overlay {
            padding-top: 12%;
        }
    }
}

@media only screen and (max-width: 991px) {
    .banner1-section {
        .overlay {
            padding-top: 16%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .progress-section {
        &.v1 {
            .progress-top-text {
                gap: 15px;
                row-gap: 0;
            }
        }
    }

    .banner1-timer {
        max-width: 300px;

        ul {
            li {
                &::after {
                    right: -20px;
                    bottom: 4px;
                }
            }
        }
    }

    .banner1-section {
        .overlay {
            padding-top: 150px;
            min-height: auto;
        }
    }

    .banner1-social {
        bottom: 20px;
    }

    .banner1-content {
        h1 {
            font-size: 40px;
            line-height: 150%;
        }
    }

}

@media only screen and (max-width: 575px) {
    .banner1-timer {
        ul {
            li {
                font-size: 30px;
            }
        }
    }


    .banner1-timer {
        ul {
            li {
                font-size: 24px;
            }
        }
    }

    .banner1-content {
        h1 {
            font-size: 36px;
        }

        h5 {
            margin-bottom: 20px;
        }

        .price-text {
            margin-top: 20px;
        }
    }

    .progress-section {
        .progress-top-text {
            flex-wrap: wrap;
        }
    }

    .banner1-social {
        position: relative;
        padding-top: 50px;
        padding-bottom: 0px;
    }

    .banner1-section {
        .overlay {
            height: auto;
        }
    }
}

@media only screen and (max-width: 425px) {
    .banner1-social ul li {
        height: 36px;
        padding: 10px;
        width: 36px;
    }

}