.banner4-section {
    background: url(../images/bg/bg-v4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 50px;
}
.banner4-content{
    max-width: 770px;
    margin: auto;
    h1{
        color: #FFF;
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        text-shadow: 4px 6px 0px #FCD930;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #000;
        font-family: Kufam;
        font-size: 90px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
    }
    p{
        margin-top: 1.5%;
        margin-bottom: 3%;
    }
    .buy-btn {
        margin-top: 3%;
        &.v4{
            color: #111;
            font-family: Outfit;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 162.5%;
            text-transform: uppercase;
            border-radius: 50px;
            background: #FCD930;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            width: 100%;
        }
    }

}

.timer-v4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        color: #FFF;
        text-align: center;
        font-family: Kufam;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        position: relative;
        span{
            font-size: 24px;
        }
        &::after{
            content: ':';
            position: absolute;
            right: -25px;
            color: rgba(255, 255, 255, 0.40);
        }
        &:nth-last-child(1){
            &::after{
                display: none;
            }
        }
    }
}

.banner4-progress {
    max-width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .progressbar__label{
        color: #FFF;
        text-align: center;
        text-shadow: 2px 3px 0px #FCD930 !important;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #000;
        font-family: Kufam;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        transform: translate(-50%, 0) !important;
    }

    svg {
        height: 200px;
        width: 320px;
        fill: none;
        stroke: #FCD930;
        stroke-width: 15;
        stroke-linecap: round;
        filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0.10));
    }
}

.banner4-statistics{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -50px;
    h5{
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
        line-height: 133.333%;
    }
}

.token-content{
    &.v4{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 4%;
        margin-bottom: 3%;
        ul{
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .token-left{
            ul{
                justify-content: flex-start;
                gap: 20px;
                li{
                    a{
                        border-radius: 60px;
                        background: rgba(255, 255, 255, 0.15);
                        backdrop-filter: blur(10px);
                        height: 60px;
                        width: 60px;
                        border: 2px solid transparent;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: 0.3s;
                        &:hover{
                            border: 2px solid rgba(255, 255, 255, 0.40);
                        }
                    }
                }
            }
        }
        .token-right{
            .buy-token-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 60px;
                background: rgba(255, 255, 255, 0.15);
                backdrop-filter: blur(10px);
                height: 60px;
                width: 180px;
                color: #FFF;
                font-family: Outfit;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 162.5%;
                text-transform: uppercase;
                gap: 9px;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .banner4-content {
        h1{
            font-size: 70px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .banner4-content {
        h1{
            font-size: 60px;
        }
    }
    .banner4-statistics{
        margin-top: 0;
    }

}
@media only screen and (max-width: 575px) {
    .banner4-content {
        h1{
            font-size: 40px;
            text-shadow: 2px 3px 0px #FCD930;
        }
    }
    .timer-v4 {
        li{
           font-size: 30px;
        } 
    }
    .banner4-statistics{
        margin-top: 0;
    }

}