.banner5-section{
    background: url(../images/bg/bg-5.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    padding-top: 8%;
    padding-bottom: 3%;
}