.banner7-section{
    background: url(../images/bg/bg-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;

}
.banner7-inner{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .banner7-left{
        width: 60%;
    }
    .banner7-right{
        width: 40%;
    }
}

.banner7-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 70px;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.banner7-left-top-content{
    padding-right: 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.10);
    padding-bottom: 63px;
    h1{
        color: #FFF;
        font-family: Kufam;
        font-size: 70px;
        font-weight: 700;
        line-height: 128.571%;
        margin-bottom: 25px;
        span{
            background: linear-gradient(180deg, #FFF 0%, #1DFF96 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    p{
        color: #FFF;
        font-family: Outfit;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 166.667%;
        max-width: 536px;
    }
}

.banner7-right-top-content{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
            a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 25px 0px 26px 30px;
                transition: 0.3s;
                img{
                    transition: 0.3s;
                }
                span{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 20px;
                    color: rgba(255, 255, 255, 0.80);                    ;
                    font-family: Outfit;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 162.5%;
                    transition: 0.3s;
                    &.justify-end{
                        justify-content: flex-end;
                    }
                    &.w-50{
                        width: 50%;
                    }
                    &.w-45{
                        width: 45%;
                    }
                }
                strong{
                    width: 5%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &:hover{
                    span{
                        color: #FFF;
                    }
                    img{
                        filter: brightness(100%);
                    }
                }

            }
        }
    }
}

.v7-progress-section{
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-left: none;
    padding-right: 30px;
    
}
.card-progress-section{
    &.v7{
        h5{
            span{
                margin-bottom: 5px;
                font-size: 16px;
            }
        }
        .card-progress-bar{
            border-radius: 0;
        }
        .card-progress-inner{
             border-radius: 0;
             background: #1DFF96;
             width: 42%;
        }
    }
}
.banner7-timer{
    padding-left: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.timer-v7{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        color: #FFF;
        text-align: center;
        font-family: "Bebas Neue";
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        position: relative;
        background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.20) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        span{
            font-size: 40px;
        }
        &::after{
            content: ':';
            position: absolute;
            right: -25px;
            bottom: 3px;
            color: rgba(255, 255, 255, 0.40);
            background: rgba(255, 255, 255, 0.40);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0.40);
        }
        &:nth-last-child(1){
            &::after{
                display: none;
            }
        }
    }
}
.banner7-token-content{
        padding: 10px 30px 30px 0px;
        border-right: 1px solid rgba(255, 255, 255, 0.10);
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}


.banner7-token-detail{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    ul{
        list-style: none;
        padding: 0;
        margin: auto;
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0px;
        }
    }
}

.buy-btn {
    margin-top: 25px;
    &.v7{
        color: #111;
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 162.5%;
        text-transform: uppercase;
        border-radius: 0px;
        background: linear-gradient(90deg, #1DFF96 0%, #BCFF7B 100%);
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 100%;
    }
}

.banner7-bottom-left{
    border-right: 1px solid rgba(255, 255, 255, 0.10);
}
.banner7-bottom-left-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    gap: 50px;
    padding: 30px 30px 30px 0px;
    p{
        max-width: 204px;
    }
}
.banner7-bottom-right-content{
    padding-top: 30px;
    padding-left: 30px;
}
.banner7-bottom{
    p{
        color: #FFF;
        font-family: Outfit;
        font-size: 18px;
        font-weight: 600;
        line-height: 166.667%;
        margin-bottom: 0;
    }
}